<div class="flex flex-col gap-3 p-3 h-[650px] shadow-md">
  <div class="flex-grow flex flex-col gap-3">
    <h4 class="text-third">{{ product.name }}</h4>
    <div class="max-w-56 self-center py-12">
      <img src="{{ product.imageUrl }}" />
    </div>
    <p>{{ product.description | truncate : 180 : true }}</p>
    <div class="flex w-full relative h-8 gap-2">
      <p *ngIf="product.discountedPrice !== 0">
        {{ product.discountedPrice | currency }}
      </p>
      <p
        [ngClass]="{
          'line-through text-sm decoration-highlight decoration-2':
            product.discountedPrice !== 0
        }"
        class="w-1/2 font-bold"
      >
        {{ product.retailPrice | currency }}
      </p>
    </div>
  </div>
  <div class="flex w-full justify-end gap-2 self-baseline">
    <button class="btnWhite">View More</button>
    <button
      class="btnRed"
      (click)="addToCart(product.productId, product.retailPrice)"
    >
      Add To Cart
    </button>
  </div>
</div>
