<div class="flex flex-col items-center gap-8 wrapper">
  <div class="self-start">
    <h1 class="text-4xl font-bold">{{ productDetail.name }}</h1>
  </div>
  <div class="max-w-[500px]">
    <img src="{{ productDetail.imageUrl }}" alt="product-ui" />
  </div>

  <h3 class="text-3xl font-semibold self-start">Description</h3>
  <p>{{ productDetail.description }}</p>
  <div class="flex justify-end py-4 self-end items-center gap-6">
    <div class="text-xl font-bold">
      {{ productDetail.retailPrice | currency }}
    </div>
    <button
      class="btnRed"
      (click)="addToCart(productDetail.productId, productDetail.retailPrice)"
    >
      Add to cart
    </button>
  </div>
</div>
