<nav class="border-b-2 py-2 mb-2 h-full">
  <ul
    class="flex max-w-[1440px] m-auto justify-between items-center gap-8 text-base font-normal"
  >
    <a routerLink="/">
      <div class="flex gap-3 h-10 items-center justify-center">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/2/24/Equifax.svg"
          class="h-5 -mb-2"
        />
        <div class="border border-black h-10"></div>
        <h4 class="font-bold">API</h4>
      </div>
    </a>
    <div>
      <li>
        <a routerLink="products" class="text-lg">Products</a>
      </li>
    </div>
    <div class="flex gap-3 justify-center items-center">
      <div *ngIf="!loggedIn" class="flex gap-3">
        <li>
          <button routerLink="signup" class="btnRed">Sign Up</button>
        </li>
        <li>
          <button routerLink="signin" class="btnWhite h-auto">Login</button>
        </li>
      </div>

      <div *ngIf="loggedIn" class="flex gap-3 justify-center items-center">
        <li>
          <a [routerLink]="['user', user.customerId]">{{ user.email }}</a>
        </li>
        <li>
          <app-cart *ngIf="loggedIn"></app-cart>
        </li>
        <li>
          <button (click)="onLogout()" class="btnRed">Logout</button>
        </li>
      </div>
    </div>
  </ul>
</nav>
