<!-- <p>orders works!</p> -->
<div>
    <div>
        <div *ngFor="let item of orderDtos">
        <div>
            {{item.orderId}} <br>
            {{item.dateOfPurchase}}<br>
            {{item.totalCost}}<br>
            <div *ngFor="let desc of item.itemDescription">
                <p>{{desc}}</p>
        </div>
        </div>
        </div>
    </div>
    <!-- <div *ngFor="let des of itemDescription; index as y">
      <div *ngFor="let str of des">
        <div *ngFor="let x of str; index as i">
          <div>
            {{ x[0] }} : {{ x[1] }}
            <hr />
            <br />
          </div>
        </div>
      </div>
    </div>
  </div> -->
  </div>
